* {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  background: #0f172a;
  color: white;
}

.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero span {
  color: #38bdf8;
}

.hero a {
  margin-top: 20px;
  padding: 10px 20px;
  background: #38bdf8;
  color: black;
  text-decoration: none;
  border-radius: 5px;
  transition: 0.3s;
}

.hero a:hover {
  transform: scale(1.1);
}

#projects {
  padding: 50px;
}

.card {
  background: #1e293b;
  padding: 20px;
  margin: 10px 0;
  border-radius: 8px;
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}
